[Unit]
Description=Harmony Service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/root/harmony --run.legacy --http.ip 0.0.0.0
Restart=always
StandardError=file:/root/harmony.err
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target 
