[Unit]
Description=Harmony Service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=gce-user
WorkingDirectory=/home/gce-user
ExecStart=/home/gce-user/harmony --run.legacy --http.ip 0.0.0.0
Restart=always
StandardError=file:/home/gce-user/harmony.err
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target 
